@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: rgb(15,118,110);
    /* --primary-color: 4b4b4b; */
    /* bg: #FFF3E0 */
    --secondary-color: #000;
}
html{
    scroll-behavior: smooth;
}

.bgPrimary{
    background: #1a1a1ac4;
    backdrop-filter: blur(4px);
}
.textPrimary{
    color: var(--primary-color)
}
.textHighLight{
    font-size: 21px;
    font-weight: bold;
}
.textHighLight.lg{
    font-size: 27px
}
.portfolioBlock{
    background: url(../src/assets/img/headerbg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.navHeader{
    @apply text-white w-full ;
    padding: 0px 15px;
    background: #141516b8;
    backdrop-filter: blur(5px);
   
}
.navHeader .nav ul li a{
    @apply px-3 text-white inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
}
.navHeader .mobileNav{
 @apply fixed w-full;
    height: auto;  
    top: 56px;
    left: 0;
    background: #000000db;
   
}
.navHeader .mobileNav li a{
    @apply px-3 py-4 text-white block;
    border-bottom: 1px solid #5c5c5c;
}
.introSection .description{
  letter-spacing: 1px;
}
.introSection .iconBlock{
    right: 100%;
    bottom: 20%;
}
.aboutSection .aboutMePara{
    word-spacing: 5px;
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 18px;
}
.toolSection .skillItems {
    width: 150px;
    height: 150px;
    background: #13131385;
    color: var(--primary-color);
    box-shadow: 0 0 6px 3px #5d5353;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: inset 0 0 3px #fff, inset 1px 0 1px #283f49, inset -2px 0 5px #1a5454, inset 3px 0 3px #2b656f, inset -0px 0 10px #435f5f, 0 0 1px #fff, -6px 0 9px #635563, 5px 0 3px #305b5b;
    border-radius: 25%;
}
.toolSection .skillProgress{
    height: 10px;
    background: #a69e9e;
    border-radius: 15px;
    width: 80%;
}
.toolSection .progressBar{
    border-radius: 15px;
    background: var(--primary-color);
    height: 100%;
}
.ProjectSection {

}
.ProjectSection .projectList {
    min-width: 250px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 6px #6f6f6f;
    background: linear-gradient(91deg, rgb(60 60 71) 16%, rgb(5 63 63) 98%);
    transition: all .1s ease-out;
}
.ProjectSection .projectList:hover {
    background: linear-gradient(91deg, rgb(60 60 71) 16%, rgb(6 124 124) 98%);
    transform: translateY(-3px);
    box-shadow: 0 0 10px #7c7c7c;
}
.ProjectSection .projectImg{
 object-fit:cover;
 border-radius: 5px;
}
.ProjectSection .projectListTop{
    height: 200px;
}
.ProjectSection .skillList{
    background: #54545b;
    border-radius: 8px;
}
.ProjectSection .backLinksBlock{
    background: linear-gradient(91deg, rgb(18 18 18 / 90%) 16%, rgb(35 35 35 / 96%) 98%);
}


@media (max-width: 767.98px) {
    .aboutSection .aboutMePara{
        word-spacing: 3px;
        line-height: 27px;
        font-size: 15.4px;
    } 
    .textHighLight{
        font-size: 18px;
    }
    .toolSection .skillItems{
        width: 120px;
        height: 120px;
    }
}